.form-container
{
 width:30%;
}

.bg {
    background-image: url(contact2.webp);
    
    background-size: auto 35em; /* Adjust the height (300px in this example) based on your needs */
    background-color: rgb(213, 240, 255);
    background-repeat: no-repeat;
}

@media screen and (max-width:1000px) {
    .form-container{
        width:45%
    }
    
}
@media screen and (max-width:700px) {
    .form-container{
        width:65%
    }
    
}